@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 body {
  font-family: "Poppins", sans-serif;
  @apply text-neutral-100 bg-neutral-800;
 }
}

.grecaptcha-badge {
 visibility: hidden;
 opacity: 0;
}
